@model SevenUp.Model.SevenUpModel
@{
    ViewBag.Title = "SevenUpResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:gold">Seven Up Results</h2>
 
<p>@Model.Translate(Model.Box1)</p>
<p>@Model.Translate(Model.Box2)</p>
<p>@Model.Translate(Model.Box3)</p>
<p>@Model.Translate(Model.Box4)</p>
<p>@Model.Translate(Model.Box5)</p>
<p>@Model.Translate(Model.Box6)</p>
<p>@Model.Translate(Model.Box7)</p>

